@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: coral;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
}


ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    gap: 15px;
}

.one{
    text-decoration: none;
    color: white;
}

.second{
    text-decoration: none;
    color: white;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: burlywood;
    border: none;
    
}


@media only screen and (max-width: 600px) {
   ul{
    display: none;
   }
   nav{
    background-color: coral;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   justify-content: space-between;
   }
   .logo{
    position: relative;
    left: 20px;
   }
   .second{
    position: relative;
    right: 20px;
   }
  }


input {
    height: 50px;
    width: 350px;
    border: none;
background-color: bisque;
font-size: 18px;
font-family: "Poppins", sans-serif;
padding-left: 10px;
border-radius: 12px;

}
button {
    height: 50px;
    width: 360px;
    border: none;
    font-size: 18px;
font-family: "Poppins", sans-serif;
border-radius: 12px;
background-color: orangered;
color: white;

 
}

form {
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.format {
    width: 1915px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bar {
    font-family: "Poppins", sans-serif;
    color: red;
    font-size: 20px;
}
.formating {
    width: 1915px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.first{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.container{
    height: 720px;
    width: 1220px;
    border: 1px solid black;
}

.third {
    width: 100%;
    height: 928px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    position: relative;
top: 8px;
left: 16px;
}

.four{
    width: 1220px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.qwerty{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.asdfg{
    width: 1017px;
  
    border: 1px solid black;
}

.boxes{
    width: 1915px;
    height: 50px;
    text-align: center;
  
    position: relative;
    bottom: 60px;
   
}
.boxer{
    width: 2000px;
    height: 500px;
 
}

.big{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: red;

}